@model StoreModel.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}



<div>
<h4>@Html.DisplayName("Название")</h4>
<h2>@Html.DisplayFor(model => model.Name)</h2>


@if (Model.Products.Count > 0)
{
    <h3> При удалении данного бренда будут удалены следующие продукты: </h3>

    <div class="panel panel-default">

        <table class="table table-striped">
            <tr>                
                <th>
                    Название
                </th>
                <th>
                    Подкатегория
                </th>
                <th>

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.CategoryName)
                    </td>

                    <td>
                        @Html.ActionLink("Изменить", "Edit", "Product", new { id = item.Id }, new {  @class= "btn btn-primary btn-xs" }) 
                    </td>

                </tr>
            }

        </table>

    </div>

}
    </div>
<h3>Вы действительно хотите удалить данный бренд?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Удалить" class="btn btn-danger" />
    @Html.ActionLink("К списку", "Index",null , new { @class = "btn btn-success" })
}

