@model IEnumerable<Store.Models.BrandViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<h2>Управление брендами</h2>

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Список брендов</h3>

    </div>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Добавить бренд", "Create", null, new { @class = "btn btn-default" })
</p>