@model Store.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<div class="product-form form-group ">
    <h2 class="page-details">Информация о товаре</h2>
    <section class="product-details">
        <article class="product">
            <div class="image-wrapper">
                @if (Model.Image.Count() == 0)
                {
                    <img class="img-thumbnail" width="250" height="250" src="~/Content/Img/undefined.png" />
                }
                else
                {
                    <img class="img-thumbnail" width="250" height="250" src="@Url.Action("GetImage", "Product", new { Model.Id })" />
                }
            </div>
            <div class="product-info">

                <div>
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <h3 class="title">@Model.Title</h3>

                <div>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <p class="description">@Model.Description</p>

                <div>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <p class="product-price">@Model.Price</p>


                <div>
                    @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })

                    <p class="product-categories">@Model.SubCategoryName</p>
                </div>
            </div>
        </article>
    </section>
    @if (User.IsInRole("Administrator"))
    {
        <div class="button-group">
            @Html.ActionLink("Edit", "Edit", "Product", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", "Product", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
    }

</div>
