@model IEnumerable<StoreModel.Models.Order>




<table class="table table-striped">

    <tr>
        <th>@Html.DisplayName("Название товара")</th>
        <th>@Html.DisplayName("Дата заказа")</th>
        <th>@Html.DisplayName("Количество")</th>
        <th>@Html.DisplayName("Цена")</th>
        <th>@Html.DisplayName("Стоймось")</th>
    </tr>

    @foreach (var order in Model)
    {

        <tr>
            <td>@Html.DisplayFor(model => order.Product.Title)</td>
            <td>@Html.DisplayFor(model => order.OrderDate)</td>
            <td>@Html.DisplayFor(model => order.Count)</td>
            <td>@Html.DisplayFor(model => order.Product.Price)</td>
            <td>@Html.DisplayFor(model => order.Cost)</td>
        </tr>

    }

    <tfoot>
        <tr>
            <td colspan="4">Итого:</td>
            <td>@ViewBag.TotalCost</td>
        </tr>
    </tfoot>

</table>




