@model StoreModel.Models.MainCategory

@{
    ViewBag.Title = "DeleteMainCategory";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<h1>Удаление категории</h1>
<h2>@Html.DisplayFor(model => model.CategoryName)</h2>


<h3>Вы действительно хотите удалить данную категорию?</h3>
<div>    
 

    @if (Model.SubCategories.Count > 0)
    {
        <h3>При удалении данной категории будут удалены следующие объекты:</h3>

        <div>

            <ul>
                @foreach (var item in Model.SubCategories)
                {
                    <li>
                        @item.CategoryName
                        <ul>
                            @foreach (var i in item.Products)
                            {
                                <li>@i.Title</li>
                            }
                        </ul>

                    </li>
                }

            </ul>


        </div>

    }



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
            @Html.ActionLink("К списку", "Index",null,new {@class="btn btn-success" })
        </div>
    }
</div>
