@model IEnumerable<StoreModel.Models.MainCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<h2>Управление категориями</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список категорий</h3>

    </div>



    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ul>
                        <li>
                            @item.CategoryName

                            <ul>
                                @foreach (var i in item.SubCategories)
                                {

                                    <li>@i.CategoryName</li>

                                }
                            </ul>
                        </li>
                    </ul>
                    <p>
                        @Html.ActionLink("Создать подкатегорию", "CreateSubCategory", new { mainCategoryId = item.Id } , new { @class=" btn btn-primary" })
                    </p>
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditMainCategory", new { id = item.Id }, new {  @class="btn btn-primary btn-xs "} ) |
                    @Html.ActionLink("Удалить", "DeleteMainCategory", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })

                    <br />
                    @foreach (var i in item.SubCategories)
                    {
                        @Html.ActionLink("Изменить", "EditSubCategory", new { id = i.Id } ,  new { @class = "btn btn-primary btn-xs " }) @:|

                        @Html.ActionLink("Удалить", "DeleteSubCategory", new { id = i.Id }, new { @class = "btn btn-danger btn-xs" })
                        <br />

                    }

                </td>
            </tr>
        }


    </table>

</div>

<p>
    @Html.ActionLink("Создать категорию", "CreateMainCategory", null, new { @class = "btn btn-success" })
</p>